.card-body{
    padding: 0.50rem;
}

.image-hotel{
    
}

.description-hotel{

}

.info-hotel{
    margin-top: 5px;
    h4{
        font-size: 16px;
        color: deepskyblue;
        font-weight: bold;
    }
}

.price-hotel{
    margin-left: 14%;
    border-left: 1px dashed lightgray;
    text-align: center;
    padding-top: 2%;
        
    p{
        font-size: 12px !important;
    }

    .price{
        color:#e17800;
        font-size: 40px !important;
        font-weight: bold;
    }
}

.hotel-amenity{
    display: inline-flex;
    margin-top: -60px !important;
    margin-right: 15px;

    img{
        width: 15px !important;
    }
}

.star{
    margin-top: -10px;
    width: 20px;
}

.btn-primary{
    background-color: #0e3475 !important;
    text-transform: none !important;
}