<div class="card">
    <div class="card-body">
      <div class="row">
          <div class="col-lg-4 image-hotel">
              <div class="view hm-white-slight waves-light" mdbWavesEffect>
                    <img class="img-fluid" [src]="routeImage" 
                        (error)="updateUrl($event)" />
                  <a>
                      <div class="mask"></div>
                  </a>
              </div>
          </div>
          <div class="col-lg-8 description-hotel">
            <div class="row">
                <div class="col-md-6 info-hotel">
                    <h4 class="card-title">{{hotel.name}}</h4>
                    <div>
                        <img *ngFor="let item of stars" 
                            class="star" src="{{route + 'icons/filters/star.svg'}}" />
                    </div>
                    <div *ngFor="let amenity of hotel.amenities" class="hotel-amenity">
                      <img src="{{route + 'icons/amenities/' + amenity + '.svg'}}" />
                    </div>  
                </div>
                <div class="col-md-4 price-hotel">
                  <p style="word-break: break-word; margin: 5%;">Precio por noche por habitación</p>
                  <div><p style="font-size: 19px !important; color: #e17800;">ARS <span class="price">{{price}}</span></p></div>
                  <a class="btn btn-primary waves-light button-hotel" mdbWavesEffect>Ver hotel</a>
                </div>
            </div>  
          </div>
      </div>       
    </div>
</div>
<br/>
            