.card-title{
    font-size: 16px !important;
    font-weight: bold;
}

.input-search{

}

.btn{
    padding: 8px;
}

.btn-primary{
    background-color: #0e3475 !important;
    text-transform: none !important;
}