<div class="card">
    <div class="card-body">
        <h4 class="card-title">Filtros</h4>
        <hr>
        <div style="color: deepskyblue;">
            <img style="width: 20px; margin-right: 10px;" src="{{routeSearch}}"/>
            Nombre de hotel            
            <a style="float: right;" (click)="search.toggle()" mdbwaveseffect="mdbWavesEffect"><i class="fa fa-angle-down"></i></a>           
        </div>
        <div class="" aria-expanded="true" [mdbCollapse]="isCollapsed" #search="bs-collapse">
          <br/> 
          <input type="text" placeholder="Ingrese el nombre del hotel" class="input-search" />
          <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>Aceptar</button>
        </div>
        <hr>

        <div style="color: deepskyblue;">
            <img style="width: 20px; margin-right: 10px;" src="{{routeStar}}"/>
            Estrellas           
            <a style="float: right;" (click)="stars.toggle()" mdbwaveseffect="mdbWavesEffect"><i class="fa fa-angle-down"></i></a>           
        </div>
        <div class="" aria-expanded="true" [mdbCollapse]="isCollapsed" #stars="bs-collapse">
            <br/> 
            <input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Todas las estrellas</label>
        </div>
    </div>
</div>

<div *ngFor="let star of stars">
  
    <h1>Pruebas</h1>
</div>
